* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 255)rgba(55, 168, 76, 0));
    background-size: cover;
    background-position: center;
}

/* Container holding the image and the text */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 255)), url(Images/personDoingFinances.png);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
  }
  
/* Style the header */
header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 255)), url(Images/personDoingFinances.png);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #40ef7a;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    text-align-last: left;
    width: 30%;
    height: 300px;
    /* only for demonstration, should be removed */
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}
.loginScreenshot{
    background-image: url("Images/CreateAccount.png");
    width: 10%;
    height: 500px;
    padding: 0;
    align-items: center;
    background-position: center;

}
.article {
    float: right;
    width: 20%;
    background-color: #40ef7a;
    .text{
        padding: 40px;
        opacity: 1.0;
    }
    height: 100vh;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}


/* Style the footer */
footer {
    background-color: #90EE90;
    padding: 10px;
    text-align: center;
    color: #023020;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

/* styles.css */
#alertButton {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#alertButton:hover {
    background-color: #0056b3;
}


